extends _base
append heading
  h1 Vortragsreihe Programmiersprachen - Vortragsplan
append main
  article
    h2 Worum geht es?
    p Wir (Rick und Lorenz) sind fasziniert von Programmiersprachen und finden, dass man im Studium nicht genug darüber lernt. Dabei gibt es abseits von Java, C und python so viele Interessante Konzepte zu entdecken. Wir wollen euch einladen in dieser Vortragsreihe genau das zu tun. <a href="#schedule">Hier gehts zur Vortragsübersicht</a>.
    h2 Organisatorisches
    ul
      li <b>Ort: </b><s>Raum 0.103 IFI-Provisorium</s> <a href="https://lageplan.uni-goettingen.de/?ident=2412_1_2.OG_2.101">Raum 2.101 IfI</a>
      li <b>oder</b> <a href="https://meet.gwdg.de/b/lor-ic3-hva-jee">https://meet.gwdg.de/b/lor-ic3-hva-jee</a> (mindestens der Vortragsteil ist hybrid)
      li <b>Aufzeichnungen: </b><a href="https://meet.gwdg.de/b/lor-ic3-hva-jee">https://meet.gwdg.de/b/lor-ic3-hva-jee</a>
      li <b>Zeit: </b>18:15-19:45
      li <b>Ablauf: </b>Zunächst gibt es immer einen theoretischen Teil, der auf die Konzepte und Alleinstellungsmerkmale eingeht und mindestens 35 Minuten umfasst. Für die meisten Sprachen folgt auch noch ein zweiter, praktischer Teil in dem ihr die Gelegenheit habt, die Sprache selbst einmal auszuprobieren.
    h2(id="contact") Kontakt
    p Wir suchen noch auch noch Vorträge! Wenn du eine Sprache kannst, die noch nicht abgedeckt wird, melde dich bei uns privat oder über <a href="mailto:gitlab+prog-langs-contact-23610-issue-@gwdg.de?subject=Vortrag%20Programmiersprachen&body=Hi%20Rick%20und%20Lorenz%2C%0D%0A%0D%0Aich%20kann%20einen%20Vortrag%20%C3%BCber%20die%20Programmiersprache%20%3F%3F%3F%20halten.%20Habt%20ihr%20Interesse%3F%0D%0A%0D%0AIch%20habe%20im%20Schedule%20gesehen%2C%20dass%20die%20Termine%20%3F%3F%3F%20noch%20frei%20sind.%20Ich%20habe%20da%20auch%20noch%20Zeit.%0D%0A%0D%0AViele%20Gr%C3%BC%C3%9Fe%2C%0D%0A%3F%3F%3F">diesen Link</a>. Insbesondere sind auch weibliche Vortragende willkommen und erwünscht, anders als der Vortragsplan gerade vermuten lassen mag - meldet euch gerne bei uns!
    h2(id="schedule") Schedule / Vortragsplan
    table
      thead
        tr
          th Termin
          th Thema
          th Referent:in
      tbody
        tr
          td 26.04.
          td <a href="#python">Python</a>
          td Lars
        tr
          td 03.05.
          td <a href="#paradigms">Programmierparadigmen</a>
          td Rick
        tr
          td 10.05.
          td <a href="#csharp">C#</a>
          td Vince
        tr
          td 17.05.
          td <a href="#bash">Bash</a>
          td Jake
        tr
          td 24.05.
          td <a href="#llvm">LLVM Intermediate Representation</a>
          td Alexander Linne
        tr
          td 31.05.
          td <a href="#prolog">Prolog</a>
          td Fabian
        tr
          s
            td 07.06.
            td <a href="#clojure">Clojure</a>
            td Martin
        tr
          td <s>14.06.</s> <b>Mi</b> 15.06.
          td <a href="#js">Javascript</a>
          td Lorenz
        tr
          td 21.06.
          td <a href="#rust">Rust</a>
          td <s>Robin</s>
        tr
          td 05.07.
          td <a href="#haskell">Haskell</a>
          td Rick
        tr
          td 12.07.
          td <a href="#julia">Julia</a>
          td Doro
        tr
          td 19.07.
          td <a href="#ssms">Sprachsammelsurium "Minisprachen"</a>
          td Lorenz
        tr
          td 26.07.
          td <a href="#css">CSS</a>
          td Ole Umlauft
    h3(id="python") Python (Lars)
    p Nach dem TIOBE Community Index ist Python dieses Jahr das erste Mal die beliebteste Programmiersprache. Python ist nicht revolutionär, hat keine Plattformexklusivität und ist auf jeden Fall nicht die performanteste Sprache. Dieser Vortrag versucht zu erklären wie Python trotzdem Millionen Softwareentwickler überzeugen konnte.
    h3(id="paradigms") Programmierparadigmen (Rick)
    p "Ein Programmierparadigma ist ein fundamentaler Programmierstil" (Wikipedia). Paradigmen werden oft durch das Design der Programmiersprache unterstützt. In diesem Vortrag gucken wir uns die geläufigsten Programmierparadigmen einmal näher an.
    p Der Vortrag hilft dabei die Sprachen in den folgenden Wochen besser einordnen und klassifizieren zu können. Er ist zudem einstiegsfreundlich, verlangt also nur wenige Vorkenntnisse.
    h3(id="csharp") C# (Vince)
    p C# - Eine Sprache, mal als Microsoft-Spielerei belächelt wurde, sich inzwischen aber in der Industrie als standard für viele Anwendung durchgesetzt hat. Plattformunabhängig, einfach zu benutzen und intuitiv - c# kann für nahezu jedes Projekt, von der Handy-App mit Xamarin bis zur REST-API mit asp .net core genutzt werden. In diesem Tutorial schauen wir uns vor allem letzteres an und erstellen eine moderne REST-API!
    h3(id="bash") Bash (Jake)
    p Bash kennen sicherlich alle von euch als Shell um andere Programme auszuführen. Dass Bash als Sprache aber sehr viel mehr kann  und dass  man damit tatsächlich auch komplexere Skripte programmieren kann, könnt ihr in diesem Vortrag herausfinden. Eine Programmiersprache mit  ein paar mächtigen Konzepten, mehreren seltsamen Eigenheiten und  sehr vielen Strings.
    h3(id="llvm") LLVM Intermediate Representation (LLVM-IR) (Alexander)
    p LLVM Intermediate Representation (LLVM-IR) ist eine Sprache, die LLVM sowohl als Eingabe- als auch Zwischensprache dient. LLVM selbst ist dabei eine Sammlung von modulare, wiederverwendbaren Compiler-Komponenten und Tools. Bekannt ist LLVM vor Allem als Backend des C/C++-Compilers Clang sowie des Rust-Compilers rustc. Der originale Rust bzw. C/C++ Code wird also in LLVM-IR übersetzt und dann an LLVM weitergegeben.
    p LLVM-IR ist keine Sprache, die man per Hand schreiben möchte. Allerdings ist es eine Sprache, die sich sehr gut für automatisierte Source-Code-Analysen und -Transformationen eignet. Und es gibt auch gute Gründe, LLVM-IR lesen können zu wollen.
    p In diesem Vortrag schauen wir uns an, wie ein Compiler im allgemeinen aufgebaut ist, was LLVM in diesem Kontext leistet, wieso LLVM-IR eine dafür bestens geeignete Sprache ist und was man selbst damit alles machen und daraus lernen kann.
    h3(id="prolog") Prolog (Fabian)
    p Logische Programmierung ist sicherlich für die meisten eines der am wenigsten vertrauten Programmierparadigmen. Dabei kann das durchaus spannend sein, denn darin lassen sich Probleme ganz anders ausdrücken, als in prozeduralen, objektorientierten oder sogar funktionalen Sprachen. In diesem Vortrag gucken wir uns die Logische Programmiersprache Prolog und ihre zugrundeliegende Theorie zunächst theoretisch an und lösen damit im Anschluss ein kleines Rätsel.
    h3(id="clojure") Clojure (Martin)
    p Lisp, das ist eine Sprachfamilie, die vielleicht mal in den 80ern bei Akademikern relevant war. Heutzutage kann sie nicht länger echten Mehrwert bieten und fristet ein Nischendasein unter prätentiösen Hackern mit einer Vorliebe für ungewöhnliche Klammersetzung. Zumindest liegt diese Annahme nahe.
    p Dass Lisp aber (noch) nicht tot ist, zeigt ein Blick auf Clojure. Hierbei handelt es sich um einen modernen Lisp-Dialekt, der aus vergangenen Fehlern lernt und von der Nähe zur Java-Plattform profitiert.
    p Wir schauen uns an, warum Clojure gleichzeitig elegant und pragmatisch sein kann, für welche Probleme es sich eignet, und was Lisp heute noch herkömmlichen Programmiersprachen voraus hat. Und weshalb prätentiöse Hacker mehr Spaß mit ihrem Rechner haben.
    h3(id="js") JavaScript (Lorenz)
    p JavaScript - die Sprache, die das World Wide Web von reinen Textseiten in richtige interaktive Anwendungen verwandelt hat. Ob man das gut findet oder nicht - auf dem Weg dahin ist eine Menge passiert und die Sprache von vor 2009 entspricht kaum mehr der Sprache von heute. Modernes JavaScript (und seine Abwandlung TypeScript) kann durchaus eine nutzbare Programmiersprache sein, hat aber vor allem viele interessante und ungewöhnliche Konzepte zu bieten, die wir uns in diesem Vortrag angucken.
    h3(id="rust") Rust (Robin)
    p <i>segmentation fault</i> wer kennt sie nicht, diese elendige Fehlermeldung beim Entwickeln in C (oder schlechtem C++). Aber das ist nunmal der Preis, den man zahlen muss, wenn man “nah an der Hardware” sein will, oder? Die Programmiersprache Rust zeigt, wie es möglich ist Effizienz, Sicherheit und Produktivität zu vereinen, ganz ohne segfaults. Nicht ohne Grund ist sie seit 2015 die beliebteste Sprache in der StackOverflow Developer Survey.
    h3(id="css") CSS (Ole Umlauft)
    p Um genau zu sein ist CSS (Cascading Style Sheets) keine Programmiersprache, sondern wie der Name schon sagt eine Stylingsprache, um das Web attraktiver zu gestalten und somit die Usability und User Experience zu erhöhen. In diesem Vortrag widmen wir uns den Grundlagen, plus einer kleinen Einführung zu HTML.
    h3(id="haskell") Haskell (Rick)
    p Haskell - jede Sprache bringt mit sich ihre Meinung dazu wie Code aussehen sollte. Effizient, sicher, einfach zu verstehen oder zu schreiben, etc. Einige sind dabei etwas zurückhaltender und andere sind wie Haskell. Steigt mit uns in eine exzentrische Welt, in der mathematik alles beschreibt, Sicherheit über Nutzbarkeit geht und der Compiler weiß, was das beste für dich ist. Wenn man ihn nur noch verstehen würde.
    h3(id="julia") Julia (Doro)
    p TODO
    h3(id="ssms") Sprachsammelsurium "Minisprachen" (Lorenz)
    p Kleine Programmiersprachen sind verbreiteter als man denkt. Sie werden für Konfigurationen, in der Schule und oft als Skripting-Engines für alles von Grafikeditoren bis Computerspiel-KIs verwendet. In diesem Vortrag gucken wir uns gleich mehrere davon an, gucken was sie so können, wo man sie findet und wie man sie selbst nutzen kann.
